/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#header
{
  background-color: #000000;
  color: #FFFFFF;
  padding:3em 0;
}


#header a
{
  color: #FFFFFF;
}

#header h1
{
  font-size: 2.8em;
  display: inline;
}

#header .nombre-territorio
{
  font-size: 1.4em;
  font-style:italic;
}

#header h1 a
{
  text-decoration:none;
}

#header #menu
{  
  float:right;
  margin-top:1em;
  font-size: 1.2em;
}

#header #menu li
{
  display: inline;
}

.wrapper
{
  max-width: 95em;  
  margin: 0 auto;
}

#sidebar
{
  float:right;
  background-color:#FF9955;
  color: #FFFFFF;
  border: 2px solid #FF7F2A;  
  border-radius: 15px;
  padding: 1em 2em 5em;
  margin-top: 2em;
  font-size: 1.4em;
}

#sidebar h3
{
  margin-bottom:1em;
}

#sidebar li
{
  margin-bottom:1em;
}

table.datos-principales
{
  width:100%;
  margin-top:2em;
}

table.datos-principales th
{
  font-size:1.3em;
}

table.datos-principales tbody td
{
  border-bottom: 1px solid #FF7F2A;
  padding:1em 20px;
}


#graphic div div
{
  float:left;
  border: 1px solid #999;
}

#graphic div span
{
  display:block;
}