<!DOCTYPE html>
<html>
<head>
  <title>Lodel20n</title>
  <%= stylesheet_link_tag    "reset", "application" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div class="wrapper">
      <%= render :partial => "shared/header" %>
    </div>
  </div>
  <div id="content">
    <div class="wrapper">
      <%= yield %>
    </div>
  </div>

</body>
</html>
